@keyframes skill-row-1-sliding {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(var(--skill-row-1-w));
	}
}

@keyframes skill-row-2-sliding {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(var(--skill-row-2-w));
	}
}

@keyframes skill-row-3-sliding {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(var(--skill-row-3-w));
	}
}

.sliding-loop {
	animation: skill-row-1-sliding linear infinite;
	animation-play-state: running;
}

@media (hover: hover) and (pointer: fine) {
	.sliding-loop:hover {
		animation-play-state: paused;
	}
}
