@keyframes sliding-loop {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(var(--sliding-width));
	}
}

@media (hover: hover) and (pointer: fine) {
	.sliding-loop:hover {
		animation-play-state: paused !important;
	}
}
