@import "@mantine/core/styles.css";
@import "./styles/index.css";

@layer tailwind {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary-800: #193743;
		--primary-800-rgb: 25, 55, 67;
		--primary-750: #304b56;
		--primary-400: #60b1d1;
		--primary-200: #96defb;
		--primary-200-rgb: 150, 222, 251;
		--primary-100: #c7eaf8;

		--secondary-400: #ffd25d;

		--accent-1: #bb5151;
		--accent-2: #53c4d4;
		--accent-3: #e1b74c;
		--accent-4: #c76be8;
		--accent-5: #e5cdf2;
		--accent-6: #82a6b5;
	}
}
